{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock %}


{% block content %}
        
 <!-- content begin -->
 <div class="no-bottom no-top" id="content">
    <div id="top"></div>
    
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Book your Test Drive</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->
    

    <section aria-label="section">
        <div class="container">
                <div class="row g-custom-x">
                    
                    <div class="col-lg-8 mb-sm-30">
                        <div class="hee">
                            <h2>Book your Test Drive..
                            </h2>
                        </div>
                        <div class="spacer-20"></div>
                     
                    
                     <form name="contactForm" id="contact_form" class="form-border" method="post" action="{% url 'book_test_ride' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 mb10">
                                <div class="field-set">
                                    <input type="text" name="Name" id="name" class="form-control" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="col-md-4 mb10">
                                <div class="field-set">
                                    <input type="email" name="Email" id="email" class="form-control" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="col-md-4 mb10">
                                <div class="field-set">
                                    <input type="text" name="Phone" id="phone" class="form-control" placeholder="Your Phone" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb10">
                                <div class="field-set">
                                    <select name="State" id="state" class="form-control" required>
                                        <option value="">Select State</option>
                                        <option value="AP">Andhra Pradesh</option>
                                        <option value="AP">Andhra Pradesh</option>
                                        <option value="AR">Arunachal Pradesh</option>
                                        <option value="AS">Assam</option>
                                        <option value="BR">Bihar</option>
                                        <option value="CT">Chhattisgarh</option>
                                        <option value="GA">Goa</option>
                                        <option value="GJ">Gujarat</option>
                                        <option value="HR">Haryana</option>
                                        <option value="HP">Himachal Pradesh</option>
                                        <option value="JH">Jharkhand</option>
                                        <option value="KA">Karnataka</option>
                                        <option value="KL">Kerala</option>
                                        <option value="MH">Maharashtra</option>
                                        <option value="MP">Madhya Pradesh</option>
                                        <option value="MN">Manipur</option>
                                        <option value="ML">Meghalaya</option>
                                        <option value="MZ">Mizoram</option>
                                        <option value="NL">Nagaland</option>
                                        <option value="OR">Odisha</option>
                                        <option value="PB">Punjab</option>
                                        <option value="RJ">Rajasthan</option>
                                        <option value="SK">Sikkim</option>
                                        <option value="TN">Tamil Nadu</option>
                                        <option value="TR">Tripura</option>
                                        <option value="TG">Telangana</option>
                                        <option value="UP">Uttar Pradesh</option>
                                        <option value="UT">Uttarakhand</option>
                                        <option value="WB">West Bengal</option>
                                        <option value="AN">Andaman & Nicobar (UT)</option>
                                        <option value="CH">Chandigarh (UT)</option>
                                        <option value="DN">Dadra & Nagar Haveli and Daman & Diu (UT)</option>
                                        <option value="DL">Delhi [National Capital Territory (NCT)]</option>
                                        <option value="JK">Jammu & Kashmir (UT)</option>
                                        <option value="LA">Ladakh (UT)</option>
                                        <option value="LD">Lakshadweep (UT)</option>
                                        <option value="PY">Puducherry (UT)</option>

                                        <!-- other options -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb10">
                                <div class="field-set">
                                    <input type="text" name="City" id="city" class="form-control" placeholder="Your City" required>
                                </div>
                            </div>
                            <div class="col-md-4 mb10">
                                <div class="field-set">
                                    <input type="text" name="Purpose" id="Purpose" class="form-control" placeholder="Your Purpose" required>
                                </div>
                            </div>
                        </div>
                        <div class="field-set mb20">
                            <textarea name="Message" id="message" class="form-control" placeholder="Your Message" required></textarea>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LdW03QgAAAAAJko8aINFd1eJUdHlpvT4vNKakj6"></div>
                        <div id='submit' class="mt20">
                            <input type='submit' id='send_message' value='Send Message' class="btn-main">
                        </div>
                        <div id="success_message" class='success'>
                            Your message has been sent successfully. Refresh this page if you want to send more messages.
                        </div>
                        <div id="error_message" class='error'>
                            Sorry there was an error sending your form.
                        </div>
                    </form>
                    
                    
                    
                </div>
                
                <div class="col-lg-4">

                    <div class="de-box mb30">
                        <h4>Head Office</h4>
                        <address class="s1">
                            {% comment %} <h6>Head Office-</h6> {% endcomment %}
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>754/1, 3rd Floor, 19th Main, 22nd Cross, Sector 2, HSR Layout, Bengaluru-560102</span></br>
                                {% comment %} <h4>Manufacturing Unit</h4>
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>No 22, 4th cross, Near Muneshwara Temple, Huskur Gate, Hosur Main Road, Electronic City Phase 2, Bengaluru-560100</span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-phone fa-lg"></i>+91 9513396282</span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-phone fa-lg"></i>+91 7019232921</span>
                            <span><i class="id-color fa fa-phone fa-lg"></i>+91 9036704679</span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:ecoyan.bangalore@gmail.com">ecoyan.bangalore@gmail.com</a></span>
                            <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:info.ecoyan@gmail.com">info.ecoyan@gmail.com</a></span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:info@ecoyan.in">info@ecoyan.in</a></span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span> {% endcomment %}
                        </address>
                    </div>

                    <div class="de-box mb30">
                        <h4>Manufacturing Unit</h4>
                        <address class="s1">
                            {% comment %} <h6>Head Office-</h6> {% endcomment %}
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>No 52, 4th cross, Near Muneshwara Temple, Huskur Gate, Hosur Main Road, Electronic City Phase 2, Bengaluru-560100</span></br>
                                {% comment %} <h4>Manufacturing Unit</h4>
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>No 22, 4th cross, Near Muneshwara Temple, Huskur Gate, Hosur Main Road, Electronic City Phase 2, Bengaluru-560100</span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-phone fa-lg"></i>+91 9513396282</span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-phone fa-lg"></i>+91 7019232921</span>
                            <span><i class="id-color fa fa-phone fa-lg"></i>+91 9036704679</span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:ecoyan.bangalore@gmail.com">ecoyan.bangalore@gmail.com</a></span>
                            <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:info.ecoyan@gmail.com">info.ecoyan@gmail.com</a></span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:info@ecoyan.in">info@ecoyan.in</a></span> {% endcomment %}
                            {% comment %} <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span> {% endcomment %}
                        </address>
                    </div>

                    <div class="de-box mb30">
                        <h4>Contact Us</h4>
                        <address class="s1">
                            
                            <span><i class="id-color fa fa-phone fa-lg"></i>+91 9513396282 <b>-</b> <b>Sales and Marketing</b> </span>
                            <span><i class="id-color fa fa-phone fa-lg"></i>+91 9513396283 <b>-</b> <b>Support and Service</b> </span>
                            <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:info.ecoyan@gmail.com">info.ecoyan@gmail.com</a></span>
                            <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="{% static 'pdf/Ecoyan-Catalogue.pdf' %}" target="_blank">Download Brochure</a></span>
                            
                        </address>
                    </div>



                    {% comment %} <div class="de-box mb30">
                        <h4>AU Office</h4>
                        <address class="s1">
                            <span><i class="fa fa-map-marker fa-lg"></i>100 Mainstreet Center, Sydney</span>
                            <span><i class="fa fa-phone fa-lg"></i>+61 333 9296</span>
                            <span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">contact@example.com</a></span>
                            <span><i class="fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
                        </address>
                    </div> {% endcomment %}

                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.093387034849!2d77.6792862760221!3d12.837241617807706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6cf60a4c9b0b%3A0x25a968a4fe89666d!2sEcoyan%20Electric%20Motor%20Vehicles%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1715932236129!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

    </section>

</div>
<!-- content close -->
    
{% endblock %}