{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
        
      <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{%  static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Careers</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <section class="section_all bg-light" id="about">
              <div class="container">
                <style>
                  p, h4, a, li {
                    font-family: 'Open Sans',sans-serif!important;
                  }
                  .box {
                  background: #f2f2f2;
                  border-radius: 4px;
                  padding: 1em 1em;
                  margin: 2em 0!important;
                  text-align: left;
                  }
                  
                  
                  {% comment %} h4, li {
                  font-weight: 300;
                  color: #07355C;
                  display: inline-block;
                  vertical-align: middle;
                  } {% endcomment %}
                  
                  .button {
                  font-size: 1em!important;
                  padding: 5px 20px!important;
                  text-decoration: none;
                  -webkit-box-shadow: #e28b00 0 1px 0;
                  -moz-box-shadow: #e28b00 0 1px 0;
                  box-shadow: #e28b00 0 1px 0;
                  background-color: #f6ae2b;
                  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f6ae2b),color-stop(70%,#f39d13));
                  background-image: -webkit-linear-gradient(#f6ae2b, #00b74a 70%);
                  background-image: -moz-linear-gradient(#f6ae2b,#f39d13 70%);
                  background-image: -o-linear-gradient(#f6ae2b,#f39d13 70%);
                  background-image: linear-grad;
                  padding-left: 0;
                  padding-right: 0;
                  text-align: center;
                  -webkit-user-select: none;
                  -khtml-user-select: none;
                  -moz-user-select: none;
                  -o-user-select: none;
                  user-select: none;
                  -webkit-border-radius: 3px;
                  -moz-border-radius: 3px;
                  -ms-border-radius: 3px;
                  -o-border-radius: 3px;
                  border-radius: 3px;
                  padding: 10px 20px;
                  font-size: 18px;
                  border: none;
                  color: white;
                  display: inline-block;
                  vertical-align: middle;
                  margin-right:1em;
                  }
                  
                  .box ul {
                  margin: 0;
                  padding: 0;
                  list-style-type: none;
                  }
                   
                  .function
                  {
                    display: block;
                  }
                  
                  .box-col
                  {
                    display: inline-block;
                    vertical-align: middle;  
                  }
                  
                  .text-right
                  {
                    text-align:right;
                  }
                  
                  .box-80
                  {
                    width: 79%;
                  }
                  
                  .box-20
                  {
                    width: 20%;
                  }
                  
                  
                  </style>
                 
                        {% for job in jobs %}
                            <div class="box mb-3">
                                <div class="box-col box-80">
                                    <h4><a href="{% url 'apply_for_job' job.pk %}">{{ job.title }}</a></h4>
                                    <span class="function">{{ job.description }}</span>
                                </div>
                                <div class="box-col box-20 text-right">
                                    {% if job.is_open %}
                                        <a class="btn btn-primary" href="{% url 'apply_for_job' job.slug %}">Apply</a>
                                    {% else %}
                                        <span class="text-muted">Job Closed</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
               
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                  
              </div>
          </section>           
          <style>
            #content.zebra section:nth-child(even) {
                background: #00b74a;
            }
        </style>
    
{% endblock %}