{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
</br></br></br></br></br></br></br>

<style>
    .icon-hover:hover {
      border-color: #3b71ca !important;
      background-color: white !important;
      color: #3b71ca !important;
    }
    
    .icon-hover:hover i {
      color: #3b71ca !important;
    }
    </style>
    
    
    <!-- content -->
    <section class="py-5">
      <div class="container">
        <div class="row gx-5">
          <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
              <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://i.ibb.co/1R6ws5s/E-Garbage.png">
                <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="https://i.ibb.co/1R6ws5s/E-Garbage.png" />
              </a>
            </div>
            
            <!-- thumbs-wrap.// -->
            <!-- gallery-wrap .end// -->
          </aside>
          <main class="col-lg-6">
            <div class="ps-lg-3">
              <h4 class="title text-dark">
                E- Garbage
              </h4>
             
              </div>
    
              
    
              <p>
                At Ecoyan, we're committed to revolutionizing waste management for a greener and cleaner planet with our top-of-the-line E-Garbage solutions. Engineered for exceptional performance, energy efficiency, and minimal maintenance, our E-Garbage trucks are the way forward for eco-friendly waste collection and management. From organic waste to recyclables, our reliable and efficient E-Garbage trucks ensure cleaner, greener streets and cities. Experience the future of urban cleanliness with Ecoyan's innovative and reliable E-Garbage solutions.

              </p>
    
              <div class="row">
                <dt class="col-3">Model:</dt>
                <dd class="col-9">E-SWACHH</dd>
    
                <dt class="col-3">Color</dt>
                <style>
                    .color-list {
                        list-style: none;
                        padding: 0;
                      }
                      
                      .color-circle {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 10px;
                      }
                      
                </style>
                <dd class="col-9">
                <ul class="color-list">
                    <li class="color-circle" style="background-color: red;"></li>
                    <li class="color-circle" style="background-color: green;"></li>
                    <li class="color-circle" style="background-color: Blue;"></li>
                    <li class="color-circle" style="background-color: Yellow;"></li>
                  </ul>
                </dd>
                <dt class="col-3">Speed:</dt>
                <dd class="col-9">25 Km/hr – maximum speed *(as per Government Norms)</dd>
    
                <dt class="col-3">Brand</dt>
                <dd class="col-9">Ecoyan</dd>
              </div>
    
              <hr />
    
             
              
            </div>
          </main>
        </div>
      </div>
    </section>
    <!-- content -->
    
    <section class="bg-light border-top py-4">
      <div class="container">
        <div class="row gx-4">
          <div class="col-lg-8 mb-4">
            <div class="border rounded-2 px-3 py-2 bg-white">
              <!-- Pills navs -->
              <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item d-flex" role="presentation">
                  <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
                </li>
                {% comment %} <li class="nav-item d-flex" role="presentation">
                  <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Warranty info</a>
                </li> {% endcomment %}
                <li class="nav-item d-flex" role="presentation">
                  <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Service info</a>
                </li>
                {% comment %} <li class="nav-item d-flex" role="presentation">
                  <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Seller profile</a>
                </li> {% endcomment %}
              </ul>
              <!-- Pills navs -->
    
              <!-- Pills content -->
              <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                  <p>
                    Ecoyan's E-Garbage : Built tough to tackle urban waste with ease, with a massive load-bearing capacity of 310 KG in accordance with government regulations. Powered by a high-performing 1200-watt motor, this vehicle is perfectly crafted for greener and cleaner streets and cities. With a full charging duration of just 7 hours and a range of 80+ kms per charge, this E-garbage vehicle is the ultimate solution for efficient waste management. Get ready to revolutionize urban cleanliness with Ecoyan's E-Garbage Truck!
                  </p>
                  {% comment %} <div class="row mb-2">
                    <div class="col-12 col-md-6">
                      <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                        <li><i class="fas fa-check text-success me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                        <li><i class="fas fa-check text-success me-2"></i>Duis aute irure dolor in reprehenderit</li>
                        <li><i class="fas fa-check text-success me-2"></i>Optical heart sensor</li>
                      </ul>
                    </div>
                    <div class="col-12 col-md-6 mb-0">
                      <ul class="list-unstyled">
                        <li><i class="fas fa-check text-success me-2"></i>Easy fast and ver good</li>
                        <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                        <li><i class="fas fa-check text-success me-2"></i>Modern style and design</li>
                      </ul>
                    </div>
                  </div> {% endcomment %}
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-ux9m5RpsUvHRzfhb0OjxEGb+GB0Vg9Lo5rYo/jl5EMyCToiQ2Twz8AumL8tpv1/w6TYuvl0vPZj0yytx38qV2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

                  <table class="table border mt-3 mb-2">
                    <tr>
                      <th class="py-2">Model :</th>
                      <td class="py-2">E-SWACHH</td>
                    </tr>
                    <tr>
                      <th class="py-2">Color :</th>
                      <td class="py-2">Red, Blue, Green, Yellow</td>
                    </tr>
                    <tr>
                      <th class="py-2">Capacity :</th>
                      <td class="py-2">310 Kg (as per Government Norms) *Tested 600kg</td>
                    </tr>
                    <tr>
                      <th class="py-2">Speed :</th>
                      <td class="py-2">25 Km/hr - maximum speed (as per Government Norms)</td>
                    </tr>
                    <tr>
                      <th class="py-2">Charging Duration :</th>
                      <td class="py-2">7 Hours</td>
                    </tr>
                    <tr>
                      <th class="py-2">Charger Type :</th>
                      <td class="py-2">Automated 15 Amps</td>
                    </tr>
                    <tr>
                      <th class="py-2">Range per Charge :</th>
                      <td class="py-2">90 KM</td>
                    </tr>
                    <tr>
                      <th class="py-2">Motor Power :</th>
                      <td class="py-2">1200 W (Tested drive Gradient 12&deg;)</td>
                    </tr>
                    <tr>
                      <th class="py-2">Drive System :</th>
                      <td class="py-2">Rear wheel drive</td>
                    </tr>
                    <tr>
                      <th class="py-2">Battery Type :</th>
                      <td class="py-2">Lead Acid Battery/Maintenance free sealed Lead Acid Battery</td>
                    </tr>
                    <tr>
                      <th class="py-2">Forward Reverse :</th>
                      <td class="py-2">It runs both ways</td>
                    </tr>
                    <tr>
                      <th class="py-2">Brake System :</th>
                      <td class="py-2">Drum Brakes</td>
                    </tr>
                    <tr>
                      <th class="py-2">Tyre :</th>
                      <td class="py-2">Front – 3.75*12, Back – 3.75*12</td>
                    </tr>
                    <tr>
                      <th class="py-2">Overall Vehicle Measurement :</th>
                      <td class="py-2">Vehicle length- 2790 mm, Width – 990 mm</td>
                    </tr>
                    <tr>
                      <th class="py-2">Vehicle Weight :</th>
                      <td class="py-2">Approximate 370 Kg with 4 Batteries</td>
                    </tr>
                  </table>
                </div>
                {% comment %} <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                  Tab content or sample information now <br />
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                </div> {% endcomment %}
                <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                  At Ecoyan, we offer doorstep servicing for all e-garbage vehicles with lightning-fast response times, resolving any issues within 72 hours. Our experts perform thorough checkups, inspecting for wear and tear, ensuring controllers and motors are functioning perfectly, and giving the battery a full health check. Ride worry-free knowing our speedy, top-notch service keeps your E-garbage in peak condition!
                  <br><b>Call On</b>  <span><i class="id-color fa fa-phone fa-lg"></i>+91 9513396283 <b>-</b> <b>Support and Service</b> </span>
                </div>
                {% comment %} <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                  Some other tab content or sample information now <br />
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.
                </div> {% endcomment %}
              </div>
              <!-- Pills content -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="px-0 border rounded-2 shadow-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Similar items</h5>
                  <div class="d-flex mb-3">
                    <a href="e_garbage" class="me-3">
                      <img src="https://i.ibb.co/1R6ws5s/E-Garbage.png" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                    </a>
                    <div class="info">
                      <a href="e_garbage" class="nav-link mb-1">
                        E- Garbage
                      </a>
                      
                    </div>
                  </div>
    
                  <div class="d-flex mb-3">
                    <a href="e_cargo" class="me-3">
                      <img src="https://i.ibb.co/jWtf4fd/e-cargo.png" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                    </a>
                    <div class="info">
                      <a href="e_cargo" class="nav-link mb-1">
                        E-Cargo
                      </a>
                      
                    </div>
                  </div>
    
                  <div class="d-flex mb-3">
                    <a href="golf_cart" class="me-3">
                      <img src="https://i.ibb.co/Kb0KrZd/Golf-Cart.png" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                    </a>
                    <div class="info">
                      <a href="golf_cart" class="nav-link mb-1"> Golf Cart </a>
                      
                    </div>
                  </div>

                  <div class="d-flex mb-3">
                    <a href="e_rickshaw" class="me-3">
                      <img src="https://i.ibb.co/qdHzYgY/e-rickshaw.png" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                    </a>
                    <div class="info">
                      <a href="e_rickshaw" class="nav-link mb-1"> E- Rickshaw </a>
                      
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    
    
    
</br></br></br></br></br></br></br>
{% endblock %}
