{% extends "base.html" %}
{% load static %}

{% block content %}
</br></br></br></br></br></br></br></br></br><style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
        
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
        }
        body{
            line-height: 1.5;
        }
        .card-wrapper{
            max-width: 1100px;
            margin: 0 auto;
        }
        imgg{
            width: 100%;
            display: block;
        }
        .imgg-display{
            overflow: hidden;
        }
        .imgg-showcase{
            display: flex;
            width: 100%;
            transition: all 0.5s ease;
        }
        .imgg-showcase img{
            min-width: 100%;
        }
        .imgg-select{
            display: flex;
        }
        .imgg-item{
            margin: 0.3rem;
        }
        .imgg-item:nth-child(1),
        .imgg-item:nth-child(2),
        .imgg-item:nth-child(3){
            margin-right: 0;
        }
        .imgg-item:hover{
            opacity: 0.8;
        }
        .product-content{
            padding: 2rem 1rem;
        }
        .product-title{
            font-size: 3rem;
            text-transform: capitalize;
            font-weight: 700;
            position: relative;
            color: #12263a;
            margin: 1rem 0;
        }
        .product-title::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 80px;
            background: #12263a;
        }
        .product-link{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.9rem;
            display: inline-block;
            margin-bottom: 0.5rem;
            background: #256eff;
            color: #fff;
            padding: 0 0.3rem;
            transition: all 0.5s ease;
        }
        .product-link:hover{
            opacity: 0.9;
        }
        .product-rating{
            color: #ffc107;
        }
        .product-rating span{
            font-weight: 600;
            color: #252525;
        }
        .product-price{
            margin: 1rem 0;
            font-size: 1rem;
            font-weight: 700;
        }
        .product-price span{
            font-weight: 400;
        }
        .last-price span{
            color: #f64749;
            text-decoration: line-through;
        }
        .new-price span{
            color: #256eff;
        }
        .product-detail h2{
            text-transform: capitalize;
            color: #12263a;
            padding-bottom: 0.6rem;
        }
        .product-detail p{
            font-size: 0.9rem;
            padding: 0.3rem;
            opacity: 0.8;
        }
        .product-detail ul{
            margin: 1rem 0;
            font-size: 0.9rem;
        }
        .product-detail ul li{
            margin: 0;
            list-style: none;
            background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
            background-size: 18px;
            padding-left: 1.7rem;
            margin: 0.4rem 0;
            font-weight: 600;
            opacity: 0.9;
        }
        .product-detail ul li span{
            font-weight: 400;
        }
        .purchase-info{
            margin: 1.5rem 0;
        }
        .purchase-info input,
        .purchase-info .btn{
            border: 1.5px solid #ddd;
            border-radius: 25px;
            text-align: center;
            padding: 0.45rem 0.8rem;
            outline: 0;
            margin-right: 0.2rem;
            margin-bottom: 1rem;
        }
        .purchase-info input{
            width: 60px;
        }
        .purchase-info .btn{
            cursor: pointer;
            color: #fff;
        }
        .purchase-info .btn:first-of-type{
            background: #256eff;
        }
        .purchase-info .btn:last-of-type{
            background: #f64749;
        }
        .purchase-info .btn:hover{
            opacity: 0.9;
        }
        .social-links{
            display: flex;
            align-items: center;
        }
        .social-links a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            color: #000;
            border: 1px solid #000;
            margin: 0 0.2rem;
            border-radius: 50%;
            text-decoration: none;
            font-size: 0.8rem;
            transition: all 0.5s ease;
        }
        .social-links a:hover{
            background: #000;
            border-color: transparent;
            color: #fff;
        }
        
        @media screen and (min-width: 992px){
            .card{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1.5rem;
            }
            .card-wrapper{
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .product-imgs{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .product-content{
                padding-top: 0;
            }
        }
        </style>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "https://i.ibb.co/zmvBr0K/Ecoyan-Golf-Cart.jpg" class="imgg" alt = "shoe image">
              
            </div>
          </div>
          <div class = "img-select">
            
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">Golf Cart</h2>

          
    
          
    
          <div class = "product-detail">
            <h2>about this item: </h2>
            <p>Ecoyan Golf Cart is suitable for transporting people and goods within campuses. It’s very useful for golf clubs, hotels/ resorts, institutions, hospitals, corporate etc. This vehicle is powered with a high power motor that enables it to run smoothly on steep inclinations as well.</p>
            
            
          </div>
    
          <div class = "product-price">
            <h4>Golf Cart</h4>
            
            
            <p class="new-price">Model: <span>ECOYAN Golf Cart</span></p>
            <p class="new-price">Color: <span>White</span></p>
            <p class="new-price">Max. Speed: <span>25 Km/hr – maximum speed</span></p>
            <p class="new-price">Charging Duration: <span>7-8 Hours</span></p>
            <p class="new-price">Charger Type: <span>Automated 15 Amps</span></p>
            <p class="new-price">Range per Charge: <span>50 KM</span></p>
            <p class="new-price">Motor Power: <span>4000W</span></p>
            <p class="new-price">Load Capacity: <span>6+1 persons, 40KG luggage</span></p>
            <p class="new-price">Drive System: <span>Rear wheel drive</span></p>
            <p class="new-price">Battery Type: <span>Lead Acid Battery/Maintenance free sealed flat lead acid battery (VRLA)</span></p>
            <p class="new-price">Forward Reverse: <span>It runs both ways</span></p>
            <p class="new-price">Brake System: <span>Hydraulic Brakes</span></p>
            <p class="new-price">Tyre: <span>Front & Rear 165/60/R12 (12” Rim, 6.5” tyre width)</span></p>
            <p class="new-price">Overall Vehicle Measurement: <span>Vehicle length - 3600 mm, Width - 1300mm, Height - 1740mm</span></p>
            <p class="new-price">Gear: <span>2 gears + reverse gear</span></p>
            <p class="new-price">Steering: <span>Right hand drive</span></p>
            <p class="new-price">Vehicle Weight Approximate: <span>600 Kg with 5 Batteries</span></p>


          </div>
    
          
        </div>
      </div>
    </div>
</br></br></br></br></br></br></br>
{% endblock %}
