{% extends "base.html" %}
{% load static %}



{% block content %}
        
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
                    {% comment %} <section id="section-hero" aria-label="section" class="full-height vertical-center" > {% endcomment %}
                    <section id="section-hero" aria-label="section" class="full-height vertical-center" data-bgimage="url({% static 'images/background/7.jpg' %}) bottom">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="spacer-double sm-hide"></div>
                                <div class="col-lg-6">
                                    <h4><span class="id-color">A FUTURE READY VEHICLE </span></h4>
                                    <div class="spacer-10"></div>
                                    <h1>Ecoyan: Pioneering Tomorrow's Transportation, Today. </h1>
                                    <p class="lead">“E-rickshaw / E-cart – Approved by Automotive Research Association of India (ARAI) & RTO Karnataka”</p>
        
                                    <a class="btn-main" href="photos">Explore</a>&nbsp;&nbsp;&nbsp;<a class="btn-main btn-black" href="contact">Connect With Us</a>
                                </div>
        
                                
                                
                            </div>
                        </div>
                    </section>
                
                
                <section id="section-hero2" aria-label="section" class="full-height vertical-center section-hero2" style="background-image: url({% static 'images/background/auto1.png' %});">
                </section>
                
                <section id="section-hero3" aria-label="section" class="full-height vertical-center section-hero3" style="background-image: url({% static 'images/background/auto2.png' %});">
                </section>
                
                


            {% comment %} <section id="section-hero" aria-label="section" class="full-height vertical-center" data-bgimage="url({% static 'images/background/auto3.png' %}) bottom"> {% endcomment %}
                {% comment %} <div class="container">
                    <div class="row align-items-center">
                        <div class="spacer-double sm-hide"></div>
                        <div class="col-lg-6">
                            <h4><span class="id-color">A FUTURE READY VEHICLE </span></h4>
                            <div class="spacer-10"></div>
                            <h1>Ecoyan: Pioneering Tomorrow's Transportation, Today. </h1>
                            <p class="lead">“E-rickshaw / E-cart – Approved by Automotive Research Association of India (ARAI) & RTO Karnataka”</p>

                            <a class="btn-main" href="#">Choose a Vehicles</a>&nbsp;&nbsp;&nbsp;<a class="btn-main btn-black" href="#">Connect With Us</a>
                        </div>

                        <div class="col-lg-6">
                            <img src="{% static 'images/misc/car-2.png' %}" class="img-fluid" alt="">
                        </div>
                        
                    </div>
                </div> {% endcomment %}
            {% comment %} </section> {% endcomment %}




            
                
    
            
           
            <section>
                <style>
                    /* CSS styles for centering the h2 element */
                    .center-text {
                        text-align: center;
                    }
                </style>
                
                 <h2 class="center-text">About</h2>
                <div class="container">
                    
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInRight">
                            <h2>We offer customers a wide range of <span class="id-color">electric motor vehicles.</span> and <span class="id-color">Manufacturing</span> customised services and fulfils the customer requirements.</h2>
                        </div>
                        <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s">
                            Ecoyan is an India based, ISO 9001:2015 certified, manufacturer, supplier and service provider of electric motor vehicles. Our dedicated engineering and design team expertise in customised services and fulfils the customer requirements. It is our constant endeavour to provide personal and professional attention to each and every customer. Our vehicles are ARAI certified and Karnataka RTO certified.
                        </div>
                        <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s">
                            At Ecoyan, we believe in small beginnings that make a big difference. We are a group of young entrepreneurs who seek to contribute to the world. Our 15 years of presence in the field of electric and hardware sector has been outstanding, and the trust we have gained enables us to venture into the new age electric motor vehicles. So, let us join hands and collectively contribute in making this planet safe and clean for the future generation. Our mission is to bring joy and delight into automobile buying and ownership.
                        </div>
                    </div>
                    <a class="btn-main" href="about">More</a>
                </div>
            </section>

            <section id="section-cars" class="no-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Our Products</h2>
                            <p>We are serving redefining urban transport with sustainable, high-performance electric rickshaws.</p>
                            <div class="spacer-20"></div>
                        </div>

                        <div class="clearfix"></div>


                        <style>
                            .parent {
                            
                              width: 290px;
                            
                              height: 300px;
                            
                              perspective: 1000px;
                            
                            }
                            
                            .card {
                            
                              height: 100%;
                            
                              border-radius: 50px;
                            
                              background: linear-gradient(135deg, rgb(0, 255, 214) 0%, rgb(8, 226, 96) 100%);
                            
                              transition: all 0.5s ease-in-out;
                            
                              transform-style: preserve-3d;
                            
                              box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
                            
                            }
                            
                            .glass {
                            
                              transform-style: preserve-3d;
                            
                              position: absolute;
                            
                              inset: 8px;
                            
                              border-radius: 55px;
                            
                              border-top-right-radius: 100%;
                            
                              background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
                            
                              /* -webkit-backdrop-filter: blur(5px);
                            
                              backdrop-filter: blur(5px); */
                            
                              transform: translate3d(0px, 0px, 25px);
                            
                              border-left: 1px solid white;
                            
                              border-bottom: 1px solid white;
                            
                              transition: all 0.5s ease-in-out;
                            
                            }
                            
                            .content {
                            
                              padding: 100px 60px 0px 30px;
                            
                              transform: translate3d(0, 0, 26px);
                            
                            }
                            
                            .content .title {
                            
                              display: block;
                            
                              color: #00894d;
                            
                              font-weight: 900;
                            
                              font-size: 20px;
                            
                            }
                            
                            .content .text {
                            
                              display: block;
                            
                              color: rgba(0, 137, 78, 0.7647058824);
                            
                              font-size: 15px;
                            
                              margin-top: 20px;
                            
                            }
                            
                            .bottom {
                            
                              padding: 10px 12px;
                            
                              transform-style: preserve-3d;
                            
                              position: absolute;
                            
                              bottom: 20px;
                            
                              left: 20px;
                            
                              right: 20px;
                            
                              display: flex;
                            
                              align-items: center;
                            
                              justify-content: space-between;
                            
                              transform: translate3d(0, 0, 26px);
                            
                            }
                            
                            .bottom .view-more {
                            
                              display: flex;
                            
                              align-items: center;
                            
                              width: 40%;
                            
                              justify-content: flex-end;
                            
                              transition: all 0.2s ease-in-out;
                            
                            }
                            
                            .bottom .view-more:hover {
                            
                              transform: translate3d(0, 0, 10px);
                            
                            }
                            
                            .bottom .view-more .view-more-button {
                            
                              background: none;
                            
                              border: none;
                            
                              color: #00c37b;
                            
                              font-weight: bolder;
                            
                              font-size: 12px;
                            
                            }
                            
                            .bottom .view-more .svg {
                            
                              fill: none;
                            
                              stroke: #00c37b;
                            
                              stroke-width: 3px;
                            
                              max-height: 15px;
                            
                            }
                            
                            .bottom .social-buttons-container {
                            
                              display: flex;
                            
                              gap: 10px;
                            
                              transform-style: preserve-3d;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button {
                            
                              width: 30px;
                            
                              aspect-ratio: 1;
                            
                              padding: 5px;
                            
                              background: rgb(255, 255, 255);
                            
                              border-radius: 50%;
                            
                              border: none;
                            
                              display: grid;
                            
                              place-content: center;
                            
                              box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button:first-child {
                            
                              transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button:nth-child(2) {
                            
                              transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button:nth-child(3) {
                            
                              transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button .svg {
                            
                              width: 15px;
                            
                              fill: #00894d;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button:hover {
                            
                              background: black;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button:hover .svg {
                            
                              fill: white;
                            
                            }
                            
                            .bottom .social-buttons-container .social-button:active {
                            
                              background: rgb(255, 234, 0);
                            
                            }
                            
                            .bottom .social-buttons-container .social-button:active .svg {
                            
                              fill: black;
                            
                            }
                            
                            .logo {
                            
                              position: absolute;
                            
                              right: 0;
                            
                              top: 0;
                            
                              transform-style: preserve-3d;
                            
                            }
                            
                            .logo .circle {
                            
                              display: block;
                            
                              position: absolute;
                            
                              aspect-ratio: 1;
                            
                              border-radius: 50%;
                            
                              top: 0;
                            
                              right: 0;
                            
                              box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
                            
                              -webkit-backdrop-filter: blur(5px);
                            
                              backdrop-filter: blur(5px);
                            
                              background: rgba(0, 249, 203, 0.2);
                            
                              transition: all 0.5s ease-in-out;
                            
                            }
                            
                            .logo .circle1 {
                            
                              width: 170px;
                            
                              transform: translate3d(0, 0, 20px);
                            
                              top: 8px;
                            
                              right: 8px;
                            
                            }
                            
                            .logo .circle2 {
                            
                              width: 140px;
                            
                              transform: translate3d(0, 0, 40px);
                            
                              top: 10px;
                            
                              right: 10px;
                            
                              -webkit-backdrop-filter: blur(1px);
                            
                              backdrop-filter: blur(1px);
                            
                              transition-delay: 0.4s;
                            
                            }
                            
                            .logo .circle3 {
                            
                              width: 110px;
                            
                              transform: translate3d(0, 0, 60px);
                            
                              top: 17px;
                            
                              right: 17px;
                            
                              transition-delay: 0.8s;
                            
                            }
                            
                            .logo .circle4 {
                            
                              width: 80px;
                            
                              transform: translate3d(0, 0, 80px);
                            
                              top: 23px;
                            
                              right: 23px;
                            
                              transition-delay: 1.2s;
                            
                            }
                            
                            .logo .circle5 {
                            
                              width: 50px;
                            
                              transform: translate3d(0, 0, 100px);
                            
                              top: 30px;
                            
                              right: 30px;
                            
                              display: grid;
                            
                              place-content: center;
                            
                              transition-delay: 1.6s;
                            
                            }
                            
                            .logo .circle5 .svg {
                            
                              width: 20px;
                            
                              fill: white;
                            
                            }
                            
                            .parent:hover .card {
                            
                              transform: rotate3d(1, 1, 0, 30deg);
                            
                              box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
                            
                            }
                            
                            .parent:hover .card .bottom .social-buttons-container .social-button {
                            
                              transform: translate3d(0, 0, 50px);
                            
                              box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
                            
                            }
                            
                            .parent:hover .card .logo .circle2 {
                            
                              transform: translate3d(0, 0, 60px);
                            
                            }
                            
                            .parent:hover .card .logo .circle3 {
                            
                              transform: translate3d(0, 0, 80px);
                            
                            }
                            
                            .parent:hover .card .logo .circle4 {
                            
                              transform: translate3d(0, 0, 100px);
                            
                            }
                            
                            .parent:hover .card .logo .circle5 {
                            
                              transform: translate3d(0, 0, 120px);
                            
                            }
                            </style>


                        <div class="row">


                            <div class="col-lg-3">
                                <!-- Product 2 -->
                                <div class="product">
                                    <div class="parent">

                                        <div class="card">
                                
                                            <div class="logo">
                                
                                                <span class="circle circle1"></span>
                                
                                                <span class="circle circle2"></span>
                                
                                                <span class="circle circle3"></span>
                                
                                                <span class="circle circle4"></span>
                                
                                                <span class="circle circle5"> </span>
                                
                                                    
                                
                                               
                                
                                            </div>
                                
                                            <div class="glass"></div>
                                
                                            <div class="content">
                                
                                                <span class="title">E- Rickshaw</span>
                                
                                                <span class="text">Redefining urban mobility with high-performance, energy-efficient Passenger Electric Rickshaws crafted to perfection.</span>
                                
                                            </div>
                                
                                            <div class="bottom">
                                
                                                
                                
                                                <div class="social-buttons-container">
                                
                                                    
                                
                                                      
                                
                                                </div>
                                
                                                <div class="view-more">
                                
                                                    <button class="view-more-button"><a  href="e_rickshaw">View More</a></button>
                                
                                                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                
                                                </div>
                                
                                            </div>
                                
                                        </div>
                                
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <!-- Product 1 -->
                                <div class="product">
                                    <div class="parent">

                                        <div class="card">
                                
                                            <div class="logo">
                                
                                                <span class="circle circle1"></span>
                                
                                                <span class="circle circle2"></span>
                                
                                                <span class="circle circle3"></span>
                                
                                                <span class="circle circle4"></span>
                                
                                                <span class="circle circle5"> </span>
                                
                                                    
                                
                                               
                                
                                            </div>
                                
                                            <div class="glass"></div>
                                
                                            <div class="content">
                                
                                                <span class="title">E-CARGO</span>
                                
                                                <span class="text">Efficient, durable Electric Cargo, engineered for extended performance and safety, ideal for commercial use.</span>
                                
                                            </div>
                                
                                            <div class="bottom">
                                
                                                
                                
                                                <div class="social-buttons-container">
                                
                                                    
                                
                                                      
                                
                                                </div>
                                
                                                <div class="view-more">
                                
                                                    <button class="view-more-button"><a  href="e_cargo">View More</a></button>
                                
                                                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                
                                                </div>
                                
                                            </div>
                                
                                        </div>
                                
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3">
                                <!-- Product 3 -->
                                <div class="product">
                                    <div class="parent">

                                        <div class="card">
                                
                                            <div class="logo">
                                
                                                <span class="circle circle1"></span>
                                
                                                <span class="circle circle2"></span>
                                
                                                <span class="circle circle3"></span>
                                
                                                <span class="circle circle4"></span>
                                
                                                <span class="circle circle5"> </span>
                                
                                                    
                                
                                               
                                
                                            </div>
                                
                                            <div class="glass"></div>
                                
                                            <div class="content">
                                
                                                <span class="title">E-GARBAGE</span>
                                
                                                <span class="text">Reliable, efficient E-Garbage Vehicle: Long-lasting performance, ..s</span>
                                
                                            </div>
                                
                                            <div class="bottom">
                                
                                                
                                
                                                <div class="social-buttons-container">
                                
                                                    
                                
                                                      
                                
                                                </div>
                                
                                                <div class="view-more">
                                
                                                    <button class="view-more-button"><a  href="e_garbage">View More</a></button>
                                
                                                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                
                                                </div>
                                
                                            </div>
                                
                                        </div>
                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <!-- Product 4 -->
                                <div class="product">
                                    <div class="parent">

                                        <div class="card">
                                
                                            <div class="logo">
                                
                                                <span class="circle circle1"></span>
                                
                                                <span class="circle circle2"></span>
                                
                                                <span class="circle circle3"></span>
                                
                                                <span class="circle circle4"></span>
                                
                                                <span class="circle circle5"> </span>
                                
                                                    
                                
                                               
                                
                                            </div>
                                
                                            <div class="glass"></div>
                                
                                            <div class="content">
                                
                                                <span class="title">GOLF-CART</span>
                                
                                                <span class="text">Reliable, efficient GOLF-CART Vehicle: Long-lasting performance, high load capacity, ..</span>
                                
                                            </div>
                                
                                            <div class="bottom">
                                
                                                
                                
                                                <div class="social-buttons-container">
                                
                                                    
                                
                                                      
                                
                                                </div>
                                
                                                <div class="view-more">
                                
                                                    <button class="view-more-button"><a  href="golf_cart"> View More</a></button>
                                
                                                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                
                                                </div>
                                
                                            </div>
                                
                                        </div>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </section>
            

            <section id="section-img-with-tab" data-bgcolor="#f8f8f8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 offset-lg-7">
                            
                            <h2>Only Quality For Clients</h2>
                            <div class="spacer-20"></div>
                            
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Luxury</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Comfort</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Prestige</button>
                              </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><p>We offer a meticulously curated collection of the most sought-after luxury vehicles on the market. Whether you prefer the sporty allure of a high-performance sports car, the sophistication of a sleek and luxurious sedan, or the versatility of a premium SUV, we have the perfect car to match your discerning taste.</p></div>
                              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><p>We prioritize your comfort and convenience throughout your journey. We understand that a comfortable ride can make a world of difference, whether you're embarking on a business trip or enjoying a leisurely vacation. That's why we offer a wide range of well-maintained, comfortable cars that cater to your specific needs.</p></div>
                              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><p>We understand that prestige goes beyond luxury. It's about making a statement, embracing sophistication, and indulging in the finer things in life. That's why we offer an exclusive selection of prestigious cars that exude elegance, style, and status.</p></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                {% comment %} <div class="image-container col-md-6 pull-right" data-bgimage="url({% static 'images/background/5.jpg' %}) center"></div> {% endcomment %}
                <div class="image-container col-md-6 pull-right" style="display: flex; justify-content: center;">
                    <div id="player"></div>
                </div>
                
                <script>
                  // Load the YouTube IFrame Player API code asynchronously
                  var tag = document.createElement('script');
                  tag.src = 'https://www.youtube.com/iframe_api';
                  var firstScriptTag = document.getElementsByTagName('script')[0];
                  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                
                  var player;
                  function onYouTubeIframeAPIReady() {
                    player = new YT.Player('player', {
                      height: '315',
                      width: '560',
                      videoId: '1NAHC0ga7AM', // Replace this with your video ID
                      playerVars: {
                        'autoplay': 1,
                        'controls': 0,
                        'showinfo': 0,
                        'rel': 0,
                        'loop': 1
                      },
                      events: {
                        'onReady': onPlayerReady
                      }
                    });
                  }
                
                  function onPlayerReady(event) {
                    event.target.mute(); // Mute the player (optional)
                  }
                </script>
                
               

            </section>

            <section>
                <div class="container">
                    <div class="row">
                    <div class="col-lg-3">
                        <h2>Explore the world with comfortable car</h2>
                        <div class="spacer-20"></div>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-trophy de-icon mb20"></i>
                        <h4>First Class Services</h4>
                        <p>Where luxury meets exceptional care, creating unforgettable moments and exceeding your every expectation.</p>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-road de-icon mb20"></i>
                        <h4>24/7 road assistance</h4>
                        <p>Reliable support when you need it most, keeping you on the move with confidence and peace of mind.</p>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-map-pin de-icon mb20"></i>
                        <h4>Free Pick-Up & Drop-Off</h4>
                        <p>Enjoy free pickup and drop-off services, adding an extra layer of ease to your car rental experience.</p>
                    </div>
                </div>
                </div>
            </section>

            {% comment %} <section id="section-testimonials" class="no-top no-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="de-image-text">
                                <div class="d-text">
                                    <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                                    <h4>Excellent Service! Car Rent Service!</h4>
                                    <blockquote>
                                       I have been using ecoyan for my Car Rental needs for over 5 years now. I have never had any problems with their service. Their customer support is always responsive and helpful. I would recommend ecoyan to anyone looking for a reliable Car Rental provider.
                                       <span class="by">Stepanie Hutchkiss</span>
                                   </blockquote>
                                </div> 
                                <img src="{% static 'images/testimonial/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="de-image-text">
                                <div class="d-text">
                                    <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                                    <h4>Excellent Service! Car Rent Service!</h4>
                                    <blockquote>
                                       We have been using ecoyan for our trips needs for several years now and have always been happy with their service. Their customer support is Excellent Service! and they are always available to help with any issues we have. Their prices are also very competitive.
                                       <span class="by">Jovan Reels</span>
                                   </blockquote>
                                </div>
                                <img src="{% static 'images/testimonial/2.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="de-image-text">
                                <div class="d-text">
                                    <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                                    <h4>Excellent Service! Car Rent Service!</h4>
                                    <blockquote>
                                       Endorsed by industry experts, ecoyan is the Car Rental solution you can trust. With years of experience in the field, we provide fast, reliable and secure Car Rental services.
                                       <span class="by">Kanesha Keyton</span>
                                   </blockquote>
                                </div>
                                <img src="{% static 'images/testimonial/3.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </section> {% endcomment %}
            {% comment %} 
            <section id="section-news">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Latest News</h2>
                            <p>Breaking news, fresh perspectives, and in-depth coverage - stay ahead with our latest news, insights, and analysis.</p>
                            <div class="spacer-20"></div>
                        </div>
                        
                        <div class="col-lg-4 mb10">
                                    <div class="bloglist s2 item">
                                            <div class="post-content">
                                                <div class="post-image">
                                                    <div class="date-box">
                                                        <div class="m">10</div>
                                                        <div class="d">MAR</div>
                                                    </div>
                                                    <img alt="" src="{% static 'images/news/pic-blog-1.jpg' %}" class="lazy">
                                                </div>
                                                <div class="post-text">                                                    
                                                    <h4><a href="news-single.html">Enjoy Best Travel Experience<span></span></a></h4>
                                                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur.</p>
                                                    <a class="btn-main" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                
                                <div class="col-lg-4 mb10">
                                    <div class="bloglist s2 item">
                                            <div class="post-content">
                                                <div class="post-image">
                                                    <div class="date-box">
                                                        <div class="m">12</div>
                                                        <div class="d">MAR</div>
                                                    </div>
                                                    <img alt="" src="{% static 'images/news/pic-blog-2.jpg' %}" class="lazy">
                                                </div>
                                                <div class="post-text">                                                    
                                                    <h4><a href="news-single.html">The Future of Car Rent<span></span></a></h4>
                                                    <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur.</p>
                                                    <a class="btn-main" href="#">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                
                        <div class="col-lg-4 mb10">
                        <div class="bloglist s2 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <div class="date-box">
                                            <div class="m">14</div>
                                            <div class="d">MAR</div>
                                        </div>
                                        <img alt="" src="{% static 'images/news/pic-blog-3.jpg' %}" class="lazy">
                                    </div>
                                    <div class="post-text">                                                    
                                        <h4><a href="news-single.html">Holiday Tips For Backpacker<span></span></a></h4>
                                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur.</p>
                                        <a class="btn-main" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> {% endcomment %}

            <section id="section-fun-facts" class="bg-color text-light">
                <div class="container">
                    <div class="row g-custom-x force-text-center">
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp">
                                <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                                Trips Powered
                                <p class="d-small">Lorem ipsum adipisicing officia in adipisicing do velit sit tempor ea consectetur.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp">
                                <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
                                Happy Customers
                                <p class="d-small">Lorem ipsum adipisicing officia in adipisicing do velit sit tempor ea consectetur.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp">
                                <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                                Fleets Vehicle
                                <p class="d-small">Lorem ipsum adipisicing officia in adipisicing do velit sit tempor ea consectetur.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp">
                                <h3 class="timer" data-to="15" data-speed="3000">0</h3>
                                Years Experience
                                <p class="d-small">Lorem ipsum adipisicing officia in adipisicing do velit sit tempor ea consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section aria-label="section" class="pt40 pb40 text-light" data-bgcolor="white">
                <div class="wow fadeInRight d-flex">
                  <div class="de-marquee-list">
                    <div class="d-item">
                      <span class="d-item-txt">E-RICKSHAW</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">E-CARGO</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">E-GARBAGE</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">GOLF CART</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">CAR</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">COMPONENTS</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">E-CATALOGUE</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">TEST DRIVE</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      
                     </div>
                  </div>

                  
                </div>
            </section>
            
        </div>
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
        <!-- footer begin -->
    
        {% endblock %}