
{% extends "base.html" %}
{% load static %}

{% block title %}
{{ job.title }} - Job Closed
{% endblock %}

{% block content %}
        
      <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{%  static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Careers</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <section class="section_all bg-light" id="about">
              <div class="container">
                <div class="container">
                    <h1 class="text-center">Job Closed</h1>
                    <p class="text-center">Sorry, the position for {{ job.title }} is no longer open for applications.</p>
                    <div class="text-center">
                        <a href="{% url 'job_list' %}" class="btn btn-primary">Back to Job Listings</a>
                    </div>
                </div>
              </div>
          </section>           
          <style>
            #content.zebra section:nth-child(even) {
                background: #00b74a;
            }
        </style>
    
{% endblock %}