{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
        
      <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{%  static 'images/background/subheader.jpg' %}" class="jarallax-img" alt=""></img>
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Photos</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

        </div>



        <style>
  

            *,
         ::before,
         ::after {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
         }
         img {
           max-width: 100%;
           display: block;
         }
         
         .divv {
           min-height: 50svh;
           padding: 2rem;
           background-color: white;
           color: white;
           font-family: system-ui;
         
           display: grid;
           place-content: center;
         }
         .gallery button {
           -webkit-appearance: none;
           border-radius: 0;
           text-align: inherit;
           background: none;
           box-shadow: none;
           padding: 0;
           cursor: pointer;
           color: inherit;
           font: inherit;
           outline: none;
           border: none;
         }
         
         .gallery {
           --_size: 120px; /* width and heigh of iamges */
           --_grid-cols: repeat(2, 1fr);
         
           --_gap: 5px;
           --_translate-img: 0 calc(var(--_size) * 3 * -1); /* define where we want to translate the image from*/
           --_translate-bio: 0 calc(var(--_size) * 3); /* define where we want to translate the text from */
           --_hover-opacity: 0.2; /* opacity of images when one of them is "active"*/
           --_img-offset: calc(var(--_size) / 4);
           --_bio-top: 50%; /* positioning of the bio when active */
         
           width: 100%;
           max-width: fit-content;
           display: grid;
           grid-template-columns: var(--_grid-cols);
         
           gap: var(--_gap);
           position: relative;
           overflow: hidden;
         }
         @media (min-width: 600px) {
           .gallery {
             --_size: 200px;
             --_grid-cols: repeat(4, 1fr);
             --_translate-bio: calc(var(--_size) * 3) 0;
             --_bio-top: 0;
           }
         }
         
         .gallery > article {
           height: var(--_size);
           aspect-ratio: 1;
           background-image: var(--bg-img);
           background-position: center;
           background-size: 0%;
           background-repeat: no-repeat;
         }
         .gallery > article > button {
           width: 100%;
           height: 100%;
           cursor: pointer;
         }
         .gallery img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           transition: opacity 500ms ease-in-out;
         }
         
         .gallery > article > div {
           position: absolute;
           top: var(--_bio-top);
           right: 0;
           width: calc((var(--_size) + var(--_gap)) * 2);
           height: calc((var(--_size) + var(--_gap)) * 2);
           background-color: white;
           color: #555;
           padding: 2rem;
           transition: 500ms ease-in-out;
           opacity: 0;
           translate: var(--_translate-bio);
           z-index: 1;
         }
         
         .gallery > article > div > h2 {
           font-size: 1.2rem;
         }
         .gallery > article > div > p {
           margin-top: 1rem;
           font-size: 0.9rem;
           opacity: 0.8;
           
             max-height: 50%; /* this could be better */
             overflow-y: auto;
         }
         .gallery > article > div > button {
           border: none;
           position: absolute;
           top: 1rem;
           right: 1rem;
           z-index: 2;
           cursor: pointer;
           transition: rotate 300ms;
         }
         
         .gallery > article > div > button:focus-visible,
         .gallery > article > div > button:hover {
           rotate: 90deg;
         }
         
         .gallery > article::before {
           content: "";
           position: absolute;
           inset: var(--_img-offset);
           width: calc((var(--_size) + var(--_gap)) * 1.5);
           height: calc((var(--_size) + var(--_gap)) * 1.5);
           aspect-ratio: 1;
           background-position: center;
           background-size: cover;
           background-repeat: no-repeat;
           z-index: 1;
           opacity: 0;
           translate: var(--_translate-img);
           transition: 500ms ease-in-out;
           background-image: inherit;
         }
         
         /* set opacity on images */
         .gallery:has(article > button:focus-within) > article img {
           opacity: var(--_hover-opacity);
         }
         
         /* slide in photo */
         .gallery > article:has(>button:focus-within)::before {
           translate: 0;
           opacity: 1;
         }
         /* slide in bio */
         .gallery article:has(>button:focus-within) > div {
           opacity: 1;
           translate: 0;
         }
         
         /* close buttons */
         /* 
         these are not really needed, the important thing is taking the focus aways from the "open" button 
         I have given them tabindex -1 so that they don't get keyboard focus which means that tabbing on the keyboard will automatically open the next image and bio. 
         Removing the tabindex -1 will give a pause (and extra keyboard action) between each iamge opening, it depends on how you want this to work.
         */
         /*
         .gallery:has(button[data-close]:focus-within) > article::before {
           translate: var(--_translate-img);
         }
         .gallery:has(button[data-close]:focus-within) > article > div {
           translate: var(--_translate-bio);
         }*/
           </style>
           <div class="divv">
         <div class="gallery">
         
           <article style="--bg-img:url(https://i.ibb.co/8BYdpkm/test-drive-at-Anekal.jpg)">
             <button type="button" aria-label="open Vintage Analog Camera">
               <img src="https://i.ibb.co/8BYdpkm/test-drive-at-Anekal.jpg" alt="Vintage Analog Camera">
             </button>
             <div>
              <b><p>Anekal</p></b>

              
               
               {% comment %} <p>Photo by Elina Volkova from <a href="https://www.pexels.com/photo/vintage-analog-camera-18332726/" target="_blank">Pexels</a></p> {% endcomment %}
               <p>Bangalore

               </p>
               <button type="button" data-close="" aria-label="close Vintage Analog Camera" tabindex="-1">&#10005;</button>
             </div>
           </article>
         
           <article style="--bg-img:url(https://i.ibb.co/59WKM6d/Test-drive-at-Bmmasandra-Inudstrial-Area.jpg">
             <button type="button">
               <img src="https://i.ibb.co/59WKM6d/Test-drive-at-Bmmasandra-Inudstrial-Area.jpg" alt="Image 2">
             </button>
             <div>
              <b><p>Bommasandra</p></b>
              
               {% comment %} <p>Photo by jovan curayag from <a href="https://www.pexels.com/photo/an-old-tricycle-3361178/" target="_blank">Pexels</a></p> {% endcomment %}
               <p>Industrial Area</p>
               <button type="button" data-close="" aria-label="close Sidecar" tabindex="-1">&#10005;</button>
             </div>
           </article>
         
           <article style="--bg-img:url(https://i.ibb.co/7jBLv6m/Ecity-Habba-2.jpg">
             <button type="button">
               <img src="https://i.ibb.co/7jBLv6m/Ecity-Habba-2.jpg" alt="Image ">
             </button>
             <div>
              <b><p>Ecity Habba Electronic City</p></b>
               
               {% comment %} <p>Photo by Laker from <a href="https://www.pexels.com/photo/old-shabby-unicycle-hanging-on-brick-wall-6156545/" target="_blank">Pexels</a></p> {% endcomment %}
               <p>Bangalore</p>
               <button type="button" data-close="" aria-label="close Unicycle"  tabindex="-1">&#10005;</button>
             </div>
           </article>
         
           <article style="--bg-img:url(https://i.ibb.co/7CwCvKD/Test-drive-at-Art-of-Living-Bangalore.jpg)">
             <button type="button">
               <img src="https://i.ibb.co/7CwCvKD/Test-drive-at-Art-of-Living-Bangalore.jpg" alt="Image ">
             </button>
             <div>
              <b><p>Art of Living</p></b>
               
               {% comment %} <p>Photo by Nandi Gustian from <a href="https://www.pexels.com/photo/old-fashioned-red-car-left-in-woods-6691970/" target="_blank">Pexels</a></p> {% endcomment %}
               <p>Bangalore</p>
               <button type="button" data-close="" aria-label="close red car" tabindex="-1">&#10005;</button>
             </div>
           </article>
           </article>
         
           <article style="--bg-img:url(https://i.ibb.co/94Z40Zn/Rapid-Action-Force-RAF-Coimbatore.jpg">
             <button type="button" aria-label="Open Rocking Chair">
               <img src="https://i.ibb.co/94Z40Zn/Rapid-Action-Force-RAF-Coimbatore.jpg" alt="Image ">
             </button>
             <div>
              <b><p>Subidha Retirement Home</p></b>
               
               {% comment %} <p>Photo by Erik Mclean from <a href="https://www.pexels.com/photo/rocking-chair-on-shabby-wooden-porch-7561182/" target="_blank">Pexels</a></p> {% endcomment %}
               <p>Bangalore

               </p>
               <button type="button" data-close="" aria-label="close Rocking Chair" tabindex="-1">&#10005;</button>
             </div>
           </article>
           </article>
         
           <article style="--bg-img:url(https://i.ibb.co/Pw6Twy5/Test-drive-at-Narayana-Health-City-1.jpg">
             <button type="button" aria-label="open Bouy">
               <img src="https://i.ibb.co/Pw6Twy5/Test-drive-at-Narayana-Health-City-1.jpg" alt="Image ">
             </button>
             <div>
              <b><p>Narayana Health City</p></b>
               
               {% comment %} <p>Photo by Julia Khalimova from <a href="https://www.pexels.com/photo/shabby-lifesaver-on-green-wall-4765889/" target="_blank">Pexels</a></p> {% endcomment %}
               <p>Bangalore</p>
               <button type="button" data-close="" aria-label="close Bouy" tabindex="-1">&#10005;</button>
             </div>
           </article>
           </article>
         
           {% comment %} <article style="--bg-img:url(https://images.pexels.com/photos/3868136/pexels-photo-3868136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
             <button type="button" aria-label="open Rusty Tap">
               <img src="https://images.pexels.com/photos/3868136/pexels-photo-3868136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image ">
             </button>
             <div>
               <h2>Shabby vintage faucet in old bathroom</h2>
               <p>Photo by Noah from <a href="https://www.pexels.com/photo/shabby-vintage-faucet-in-old-bathroom-3868136/" target="_blank">Pexels</a></p>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem fugiat debitis voluptate et obcaecati ut, veritatis ducimus nobis, nisi odit modi dolorem?</p>
               <button type="button" data-close="" aria-label="close Rusty Tap" tabindex="-1">&#10005;</button>
             </div>
           </article> {% endcomment %}
         
           {% comment %} <article style="--bg-img:url(https://images.pexels.com/photos/4575426/pexels-photo-4575426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
             <button type="button" aria-label="open Phone">
               <img src="https://images.pexels.com/photos/4575426/pexels-photo-4575426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image ">
             </button>
             <div>
               <h2>Old metal public payphone hanging on shabby wall</h2>
               <p>Photo by Darya Sannikova from <a href="https://www.pexels.com/photo/old-metal-public-payphone-hanging-on-shabby-wall-4575426/" target="_blank">Pexels</a>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem fugiat debitis voluptate et obcaecati ut, veritatis ducimus nobis, nisi odit modi dolorem?</p>
               <button type="button" data-close="" aria-label="close Phone" tabindex="-1">&#10005;</button>
             </div>
           </article> {% endcomment %}
         </div>
        </div>
{% endblock %}