{% extends "base.html" %}
{% load static %}



{% block content %}
        
      <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{%  static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Photos</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

<style>
    /* Lazy Load Styles */
    .card-image {
        display: block;
        min-height: 20rem; /* layout hack */
        background: #fff center center no-repeat;
        background-size: cover;
        filter: blur(3px); /* blur the lowres image */
    }
    
    .card-image > img {
        display: block;
        width: 100%;
        opacity: 0; /* visually hide the img element */
    }
    
    .card-image.is-loaded {
        filter: none; /* remove the blur on fullres image */
        transition: filter 1s;
    }
    
    
    
    
    /* Layout Styles */
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: sans-serif;
    }
    
    .card-list {
        display: block;
        margin: 1rem auto;
        padding: 0;
        font-size: 0;
        text-align: center;
        list-style: none;
    }
    
    .card {
        display: inline-block;
        width: 90%;
        max-width: 20rem;
        margin: 1rem;
        font-size: 1rem;
        text-decoration: none;
        overflow: hidden;
        box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    }
    
    .card:hover {
        transform: translateY(-0.5rem) scale(1.0125);
        box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
    }
    
    .card-description {
        display: block;
        padding: 1em 0.5em;
        color: #515151;
        text-decoration: none;
    }
    
    .card-description > h2 {
        margin: 0 0 0.5em;
    }
    
    .card-description > p {
        margin: 0;
    }
    </style>

    <ul class="card-list">
        
        <li class="card">
            <a class="card-image"  target="_blank" style="background-image: url(https://i.ibb.co/8BYdpkm/test-drive-at-Anekal.jpg);" data-image-full="https://i.ibb.co/8BYdpkm/test-drive-at-Anekal.jpg">
                <img src="https://i.ibb.co/8BYdpkm/test-drive-at-Anekal.jpg" alt="Psychopomp" />
            </a>
            <a class="card-description"  target="_blank">
                <h2>Anekal </h2>
                <p>Bangalore</p> 
            </a>
        </li>
        

        <li class="card">
            <a class="card-image"  target="_blank" style="background-image: url(https://i.ibb.co/59WKM6d/Test-drive-at-Bmmasandra-Inudstrial-Area.jpg);" data-image-full="https://i.ibb.co/59WKM6d/Test-drive-at-Bmmasandra-Inudstrial-Area.jpg">
                <img src="https://i.ibb.co/59WKM6d/Test-drive-at-Bmmasandra-Inudstrial-Area.jpg" alt="Psychopomp" />
            </a>
            <a class="card-description"  target="_blank">
                <h2>Bommasandra</h2>
                <p>Industrial Area</p> 
            </a>
        </li>
        

        <li class="card">
            <a class="card-image"  target="_blank" style="background-image: url(https://i.ibb.co/7jBLv6m/Ecity-Habba-2.jpg");" data-image-full="https://i.ibb.co/7jBLv6m/Ecity-Habba-2.jpg"">
                <img src="https://i.ibb.co/7jBLv6m/Ecity-Habba-2.jpg" alt="Psychopomp" />
            </a>
            <a class="card-description"  target="_blank">
                <h2>Ecity Habba Electronic City </h2>
                <p>Bangalore
                </p> 
            </a>
        </li>

        <li class="card">
            <a class="card-image"  target="_blank" style="background-image: url(https://i.ibb.co/7CwCvKD/Test-drive-at-Art-of-Living-Bangalore.jpg);" data-image-full="https://i.ibb.co/7CwCvKD/Test-drive-at-Art-of-Living-Bangalore.jpg">
                <img src="https://i.ibb.co/7CwCvKD/Test-drive-at-Art-of-Living-Bangalore.jpg" alt="Psychopomp" />
            </a>
            <a class="card-description"  target="_blank">
                <h2>Art of Living</h2>
                <p>Bangalore</p> 
            </a>
        </li>

        <li class="card">
            <a class="card-image"  target="_blank" style="background-image: url(https://i.ibb.co/94Z40Zn/Rapid-Action-Force-RAF-Coimbatore.jpg);" data-image-full="https://i.ibb.co/94Z40Zn/Rapid-Action-Force-RAF-Coimbatore.jpg">
                <img src="https://i.ibb.co/94Z40Zn/Rapid-Action-Force-RAF-Coimbatore.jpg" alt="Psychopomp" />
            </a>
            <a class="card-description"  target="_blank">
                <h2>Subidha Retirement Home</h2>
                <p>Bangalore</p> 
            </a>
        </li>

        <li class="card">
            <a class="card-image"  target="_blank" style="background-image: url(https://i.ibb.co/Pw6Twy5/Test-drive-at-Narayana-Health-City-1.jpg);" data-image-full="https://i.ibb.co/Pw6Twy5/Test-drive-at-Narayana-Health-City-1.jpg">
                <img src="https://i.ibb.co/Pw6Twy5/Test-drive-at-Narayana-Health-City-1.jpg" alt="Psychopomp" />
            </a>
            <a class="card-description"  target="_blank">
                <h2>Narayana Health City</h2>
                <p>Bangalore</p> 
            </a>
        </li>
        
    </ul>
</div>
</br></br></br></br>
      
      <script>
      // This is "probably" IE9 compatible but will need some fallbacks for IE8
    // - (event listeners, forEach loop)
    
    // wait for the entire page to finish loading
    window.addEventListener('load', function() {
        
        // setTimeout to simulate the delay from a real page load
        setTimeout(lazyLoad, 1000);
        
    });
    
    function lazyLoad() {
        var card_images = document.querySelectorAll('.card-image');
        
        // loop over each card image
        card_images.forEach(function(card_image) {
            var image_url = card_image.getAttribute('data-image-full');
            var content_image = card_image.querySelector('img');
            
            // change the src of the content image to load the new high res photo
            content_image.src = image_url;
            
            // listen for load event when the new photo is finished loading
            content_image.addEventListener('load', function() {
                // swap out the visible background image with the new fully downloaded photo
                card_image.style.backgroundImage = 'url(' + image_url + ')';
                // add a class to remove the blur filter to smoothly transition the image change
                card_image.className = card_image.className + ' is-loaded';
            });
            
        });
        
    }
    
    
      </script>
{% endblock %}