<section id="section-fun-facts" class="bg-color text-light">
    <div class="container">
        <div class="row g-custom-x text-center justify-content-center">
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp d-flex flex-column align-items-center">
                    <h3 class="timer" data-to="8" data-speed="3000">0</h3>
                    <strong>YEARS OF SUCCESSFUL OPERATIONS:</strong>
                    <p class="d-small">With over 8 years of successful operations, Ecoyan has consistently delivered excellence in electric mobility. Trusted by many, our experience speaks volumes about our commitment to quality and innovation.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp d-flex flex-column align-items-center">
                    <h3 class="timer" data-to="1000" data-speed="3000">0</h3>
                    <strong>VEHICLES CREATING A GREEN IMPACT:</strong>
                    <p class="d-small">Zooming past the 1000+ vehicles making a green and clean impact, Ecoyan is driving a vibrant ecological revolution. Jump aboard and be part of our eco-conscious journey towards a greener tomorrow!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp d-flex flex-column align-items-center">
                    <h3 class="timer" data-to="10" data-speed="3000">0</h3>
                    <strong>GOVT AGENCIES TRUSTING OUR PRODUCTS:</strong>
                    <p class="d-small">With a strong trust from over 10 government agencies, Ecoyan's products shine as beacons of reliability and innovation. Join the ranks of those who trust us to lead the way to a sustainable future!</p>
                </div>
            </div>
        </div>
    </div>
</section>
